<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-first-container">
        <div class="footer-left-side">
          <div class="footer-logo-container" tabindex="0">
            <a class="footer-logo-link" href="../index.html">
              <svg class="footer-logo-svg" width="16" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
              </svg>
            </a>
            <a class="footer-logo-text" href="../index.html"
              >Food Boutique</a
            >
          </div>
          <ul class="footer-socials">
            <li class="footer-socials-item">
              <a
                class="footer-socials-link"
                href="https://www.facebook.com/goITclub/"
                aria-label="facebook"
                target="_blank"
              >
                <svg class="footer-socials-icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socials-item">
              <a
                class="footer-socials-link"
                href="https://www.instagram.com/goitclub/"
                aria-label="instagram"
                target="_blank"
              >
                <svg class="footer-socials-icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-socials-item">
              <a
                class="footer-socials-link"
                href="https://www.youtube.com/c/GoIT"
                aria-label="youtube"
                target="_blank"
              >
                <svg class="footer-socials-icon" width="24" height="24">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-right-side">
          <div class="footer-right-text">
            <p class="footer-main-text">
              Discover the Variety of Flavors and Quality
            </p>
            <p class="footer-second-text">
              An online store where you will find fresh, natural and delicious
              products for a healthy life and unforgettable gastronomic
              adventures.
            </p>
          </div>
          <div>
            <p class="footer-third-text">
              Subscribe and learn about new products!
            </p>
            <form class="footer-form" name="subscribe" autocomplete="off">
              <div class="input-wrap">
                <input
                  type="email"
                  id="footer-email"
                  name="user-email"
                  class="form-input"
                  placeholder="Email"
                />
              </div>
              <button type="submit" class="footer-form-btn">Send</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p class="footer-fourth-text">Food Boutique. All rights reserved.</p>
        <p class="footer-fifth-text">
          <a href="#" class="footer-privacy-link">Privacy Policy </a> /
          <a href="#" class="footer-privacy-link"> Terms of Service</a>
        </p>
      </div>
    </div>
  </div>
</footer>
