<header class="header">
  <div class="container">
    <nav class="header_nav">
      <div class="header_container_logo" tabindex="0">
        <a class="header_logo_link" href="../index.html">
          <svg class="header_logo_svg" width="16" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <a class="header_logo_link_text" href="../index.html">Food Boutique</a>
      </div>
      <ul class="header_menu_list">
        <li class="header_menu_item_home">
          <a class="header_menu_link" href="../index.html">Home</a>
        </li>
        <li class="header_menu_item_icon">
          <a class="header_menu_icon" href="../cart.html">
            <svg class="header_menu_svg" width="14" height="14">
              <use href="../img/icons.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
        <li class="header_menu_item_cart">
          <a class="header_menu_cart" href="../cart.html">
            <span class="header_menu_text">Cart</span>
            <span class="quantity_products">()</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>