<section class="hero">
  <div class="container">
    <h1 class="hero_title">
      Welcome to the <span class="hero_title_accent">Food</span> Boutique!
    </h1>
    <p class="hero_text">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
    <div class="hero_container">
      <svg class="icon_organic_food" width="100" height="100">
        <use href="./img/icons.svg#icon-organic-food"></use>
      </svg>
    </div>
  </div>
</section>
