<div class="modal-cart is-hidden">
  <div class="modal-cart-section">
    <div class="modal-cart-content">
      <div class="modal-cart-img"><img class="img-succes" src="/img/tomato.png" alt="tomato" /></div>
      <div class="modal-cart-title">
        <h3 class="cart-title">Order success</h3>
      </div>
      <div class="modal-cart-text">
        <p class="cart-text">
          Thank you for shopping at Food Boutique. Your order has been received
          and is now being freshly prepared just for you! Get ready to indulge
          in nourishing goodness, delivered right to your doorstep. We're
          thrilled to be part of your journey to better health and happiness.
        </p>
      </div>
      <div class="modal-cart-btn">
        <button class="close-btn">
          <svg class="cart-icon-close">
            <use href="/img/icons.svg#icon-delete-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
