<div class="modal is-hidden">
  <div class="modal-product">
  <div class="modal-all-items">
    <button class="modal-close-btn">
      <svg class="button-icon-close">
        <use href="/img/icons.svg#icon-delete-close"></use>
      </svg>
    </button>
    <div class="img-section">
      <div class="modal-img">
        <img class="img-content" src="/img/image2.png" alt="" />
      </div>
    </div>
    <div class="text-section">
      <div class="content-section">
        <h3 class="modal-title">Pumpkin</h3>
        <div class="modal-list">
          <div class="modal-description">
            <p class="modal-atr">Category:</p>
            <p class="modal-description-value modal-category">Fresh Produce</p>
          </div>
          <div class="modal-description">
            <p class="modal-atr">Size:</p>
            <p class="modal-description-value modal-size">1 medium-sized</p>
          </div>
          <div class="modal-description">
            <pc class="modal-atr">Popularity:</pc>
            <p class="modal-description-value modal-pop">0</p>
            
          </div>
        </div>
      </div>
      <div class="bottom-section">
        <p class="modal-text">
          A round, orange vegetable with a thick shell and seeds inside. It
          is often used in cooking and baking for its sweet and earthy
          flavor.
        </p>
      </div>
    </div>
    <div class="modal-bottom">
      <p class="price">$2.99</p>
      <button class="addtocart-btn">
        Add to
        <svg width="18" height="18">
          <use class="button-icon" href="/img/icons.svg#icon-cart"></use>
        </svg>
      </button>
    </div>
  </div>
  </div>
</div>
