<section class="products">
  <div>Filters</div>

  <div class="container-product-cards js-product-cards"></div>

  <div class="container-pagination">
    <button class="button prevNext" id="prev">
      <svg class="angle-left" width="24" height="24">
        <use href="./img/icons.svg#icon-caret-left"></use>
      </svg>
    </button>
    <div class="pagination-links">
      <a href="#" class="pag-link active">1</a>
      <a href="#" class="pag-link">2</a>
      <a href="#" class="pag-link">3</a>
      <a href="#" class="pag-link">4</a>
      <a href="#" class="pag-link">5</a>
    </div>
    <button class="button prev-next prevNext" id="next">
      <i class="angle-right"></i>
      <svg class="angle-right" width="24" height="24">
        <use href="./img/icons.svg#icon-caret-right"></use>
      </svg>
    </button>
  </div>
</section>
