
.section_cart {
}
.cart {
    position: fixed;
    top: 0;
    left: 0;
    background-color:#E8E8E2 ;
    z-index: 1000;
    width: 100%;
    height: 100%;
   /* display: none; по умолчанию */
    justify-content: center;
    user-select: none;
    overflow-y: scroll;
}
.container_cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    background-color: fff;
    position: relative;
}
.cart_quantity {
    display: flex;
    align-items: center;
    gap: 14px;
}
.cart_icon_quantity {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    background: var(--accent-color);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    fill: #E8E8E2;
}
.cart__num {
    margin-top: 14px;
    color: #010101;
    font-family: Neue Montreal;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    text-transform: uppercase;
    width: 150px ;
    height: 28px;
}
.cart_button_de {
    display: flex;
    margin-bottom: 44px;
    justify-content: end;
    margin-top: 14px;
    cursor: pointer;
    gap: 8px;
    background-color: transparent;
    border: none;
}
.cart__product-delete_all {
    color: #010101;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px; 
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.cart__icon-search {
    fill: #010101;
}
.cart__product-delete {
    
}
.cart_product_render {
    
}
.cart_product {
    display: flex;
    padding: 1rem;
}
.cart__product-wrap {
    display: flex;
    width: 100%;
}
.cart__product-image {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: #FAFAFA;
    gap: 20px;
}
.popup__product-title {
    color: #010101;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.cart_quantity-span {
    display: none;
}

.item-detail {
    display: flex;
    align-items: center;
    gap: 8px;
}
.item-detail-title {
}
.item-detail-value {
}

.button {
    background: none;
    border: none;
    cursor: pointer;
}

.cart__product-delete {
    display: flex;
    justify-content: end;
}
.popup__product-wrap {
    display: flex;
    flex-direction: column;
    gap:.3rem;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0px 0px 0px 20px;
    width:100%
}
.popup__product-price {
    display: flex;
    /* margin-top: auto; */
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}
.popup__product-price > .product-price {
    font-size: 1.5rem;
    font-weight: bold;
}
.quantity_btn {
}
.custom-hr {
}
.cart__container {
}
.cart__button-hr {
    max-width: 335px;
}
.cart__body {
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cart__title {
    display: flex;
    text-align: start;
    color: #010101;
    font-family: Neue Montreal;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    text-transform: uppercase;
    margin-bottom: 54px;
    margin-left: 20px;
}
.cart-label {
    width: 100%;
    
}
.cart__form {
    gap: 16px;
}
.cart__input-total {
    display: inline-flex; 
    align-items: center;
    min-width: 335px;
    height: 60px; 
    border-radius: 30px;
    border: 1px solid rgba(1, 1, 1, 0.30);
    margin-bottom: 44px ;
    background-color: transparent;
    margin-left: 20px; 
    justify-content: center;
}
.cart__input-email {
    color: #010101;
    background-color: transparent;
    /* padding: 12px 183px 12px 20px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-width: 335px;
    height: 42px;
    border-radius: 30px;
    border: 1px solid rgba(1, 1, 1, 0.30);
}
.cart-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #010101;
}    
.subscribe__button-cart {
    justify-content: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3; 
    color: #E8E8E2;
    border-radius: 30px;
    background: var(--accent-color);
    min-width: 335px;
    height: 42px;
    display: inline-flex; 
    padding: 12px 138px;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
    margin-top: 14px;
    border: none;
}
.subscribe__button-cart:hover, 
.subscribe__button-cart:focus {
    background:#586F1F; 
}

    .item-details-container {
        display: flex;
        gap: 2rem;
    }
  
  .item-detail-title {
    color: gray;
  }
  
  .item-detail-value {
    font-size: 1.25rem;
  }
  
  .cart_quantity-btn{
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.5rem;        
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .quantity_btn {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 0.2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .quantity_btn:hover {
    background: #dedede;
  }
  .custom-hr {
    display: flex;
    height: 190px;
    width: 9px;
    border: 0;
    border-radius: 20px;
    background: rgba(1, 1, 1, 0.08);
    margin-left: 39px;
  }

  /* ----------------------------------------- */
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 60px;
    }
    .cart__product-delete_all {
        font-size: 16px;
    }
    .cart_quantity-span {
        display: flex;
        width: 96px;
        height: 34px;
        padding: 5px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        border: 1px solid rgba(1, 1, 1, 0.10);
    }
    .cart__title{
        display: flex;
        text-align: start;
        justify-self: start;
        
    }
    .subscribe__button-cart {
      display: inline-flex;
      padding: 15px 65px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      min-width: 215px;
      height: 64px;
      margin-left: 16px;
    }
    .cart__input-total {
        display: flex;
        min-width: 590px;
        height: 60px;
        padding-left: 16px;
        border-radius: 8px;
        background: rgba(109, 132, 52, 0.05);
    }
    .cart__input-email {
        padding-left: 16px;
        min-width: 359px;
        height: 54px;
        border-radius: 30px;
        border: 1px solid rgba(1, 1, 1, 0.30);
    }
    .cart__button-hr {
        stroke-width: 1px;
        max-width: 672px;
    }
    .cart__body {
        display: flex;
        /* flex-direction: row; */
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }
    .popup__product-price {
        
    }
  }
  
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding: 0 100px;
    }
    .container_cart {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    .cart__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        /* justify-content: space-between; */
    }
  
    .cart_quantity {
        display: flex;
    }
    .cart__num {
        color: #010101;
        font-family: Neue Montreal;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; 
        text-transform: uppercase;
        }
    .cart__product-delete_all {
            color: #010101;
            font-family: Neue Montreal;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; 
        }
    .cart__title {
        display: flex;
        color: #010101;
        font-size: 32px;
        font-weight: 500;
        line-height: 32px;
        text-transform: uppercase;
        }
    .cart__input-email {
        display: inline-flex;
        /* padding: 15px 172px 15px 20px;
        justify-content: center;
        align-items: center; */
        gap: 8px;
        border-radius: 30px;
        border: 1px solid rgba(1, 1, 1, 0.30);
        width: 359px;
        height: 54px;
    
        }
    .subscribe__button-cart {
        display: inline-flex;
        color: #E8E8E2;
        border-radius: 30px;
        background: #6D8434;
        font-family: Neue Montreal;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        width: 215px;
        height: 54px;
        
        }
        .custom-hr {
            display: block;
            height: 190px;
            width: 9px;
            border: 0;
            border-radius: 20px;
            background: rgba(1, 1, 1, 0.08);
            
          }
  }









/* ---------------------------------------------------- */
 /* .custom-hr {
    display: none;
    height: 117px;
    width: 5px;
    border: 0;
    border-radius: 20px;
    background: rgba(1, 1, 1, 0.08);
    flex-shrink: 0;
  }  */



/* .vline{
    border-left: 1px solid black;
   } */
/* #vert {
    height: 190px;
    width: 9px;
    border:none;
    border-left: 1px solid #000;
} */