p, h3 {
  margin: 0;
}
.cart {
  padding-top: 72px;
  padding-bottom: 80px;
}

.container {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

 .cart_list {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 14px;
} 

.cart-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-top: 10px;
    /* padding-bottom: 10px */
}

.cart-svg {
  fill: var(--background-color) ;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 0.3s ease
}

.cart_text,
.cart-span {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  color: var(--black-color);
} */

.card-description {
  display: flex;
  gap: 4px;
}
.cart-container-delete {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 30px;
}
.cart-product-delete-span{
 color: var(--black-color);
  font-size: 14px;
  line-height: 1.28;
  font-weight: 500;
}
.card-product-delete-button{
  position: absolute;
  top: -9px;
  right: 5px;
}
.cart-product-delete-button {
 background-color: transparent;
  transition: background-color 0.3s ease;
  border: none;
}



.cart-product-delete-all-button{
  border: none;
  background-color: transparent;
  
}
.cart-icon-close-:hover{
  fill: var(--hover-color);
}

.cart-icon-delete-all {
  transition: fill 0.3s ease;
  fill: var(--black-color);
}
.cart-icon-delete-all:hover{
  fill: var(--hover-color);
}

.description {
  display: flex;
  position: relative;
  /* justify-content: space-between; */
}
.card_container_product {
margin-bottom: 60px;
    display: flex;
    flex-direction: column;
  
}

.card_container-product_img {
  background-color: #FAFAFA;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  margin-right: 20px;
  border-radius: 10px;
}
.card_container-product_img:first-child,
.card_container-product_img:last-child {
  margin-bottom: 0;
}


.card_container_product_name {
  margin-bottom: 10px;
}

.card_product_name {
    color: #010101;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.1;
      margin: 0;
}

.card_container_product_description {
  display: flex;
  margin-bottom: 30px;
}

.card-description {
  display: flex;
gap: 4px;
}

.cart_product_description {
  color: var(--black-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6
}

.cart_product_span {
  color: var(--dark-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    margin-right: 2px;
}

.full {

}

.card_container_price {}

.card_product_price {
  color: var(--black-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    
}

.cart_container_total_price {

}

.cart_title {
  color: var(--black-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;
    text-transform: uppercase;
    padding-top: 80px;
}

.cart_total_price {
  display: flex;
  align-items: center;
  padding:  18px 18px 14px 18px;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: rgba(109, 132, 52, 0.05);
  border-radius: 8px;
}

.cart_total_price_text {
  color: var(--black-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

.cart_total_cost {
color: var(--black-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
}

.cart_total_cost_span {
  color: rgba(1, 1, 1, 0.20);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
}

.cart_container_form {
display: flex;
  flex-direction: column;
  
}

.cart_form_input {
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.30);
  justify-content: center;
  align-items: center;
  color: var(--black-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 14px;
  outline: transparent;
  background-color: transparent;
}
.cart_form_input::placeholder{
color: rgba(1, 1, 1, 0.50);
margin-bottom: 8px;

}

.cart_form_button {
padding: 12px 20px;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  border: none;
  border-radius: 30px;
  background-color: var(--accent-color);

}

.cart-section-scroll {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
.cart {
  padding-top: 99px;
    padding-bottom: 100px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

    .cart-svg {
      padding: 12px;
    }
  .cart_text,
  .cart-span {
    font-size: 26px;
    line-height: 1.0;
  }
    .cart_list {
      padding-bottom: 24px;
    }
.cart-product-delete-span {
  font-size: 16px;
  line-height: 1.25;
}

.cart-container-delete {
  margin-bottom: 42px;
}
.card_container_product {
  margin-bottom: 80px;
}

.card_container-product_img {
  background-color: #FAFAFA;
  width: 120px;
  height: 120px;
  margin-right: 40px;
  margin-bottom: 40;
}
.card_container-product_img:first-child,
.card_container-product_img:last-child {
  margin-bottom: 0;
}
.card_container_product_name {
  margin-bottom: 12px;
}

.card_product_name {
  color: var(--black-color);
  font-size: 20px;
  line-height: 1.2;
}

.card_container_product_description {
  margin-bottom: 44px;
}


.cart_product_description {
  font-size: 14px;
  line-height: 1.28;
}
.card_product_price {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.cart_title {
  font-size: 32px;
  line-height: 1.0;
}

.cart_total_price {
  padding: 14px 28px;
  margin-bottom: 40px;
  max-width: 590px;
}

.cart_total_price_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
.cart_total_cost {
  font-size: 32px;
  line-height: 1.0;
}

.cart_total_cost_span {
  color: rgba(1, 1, 1, 0.20);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  margin-right: 8px;
}
.cart_container_form {
  display: flex;
  flex-direction: row;
}

.cart_form_input {
  padding: 15px 20px;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 0;
  margin-right: 16px;
  min-width: 359px;
}


.cart_form_button {
  width: 215px;
  padding: 15px 65px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.2;
  border: none;
}


.cart-section-scroll {
  border-radius: 20px;
  background-color: rgba(1, 1, 1, 0.08);
   border: 1px solid #ccc;
   overflow-y: scroll; /* Включає вертикальний скрол */
  scrollbar-width: thin; /* Ширина скролбару */
  width: 100%; /* Ширина контейнера, можливо, вам потрібно налаштувати відповідно до вашого дизайну */
  position: relative; /* Позиціонуємо відносно батьківського елементу */
}

.scroll-cart {

}

.cart-list {
  height: 610px;
    overflow-y: auto;

}


}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
  .cart {
    padding-top: 81px;
  }
  .cart_list {
    padding-bottom: 14px;
  }
.cart-container-delete {
  margin-bottom: 46px;
}

.cart-product-delete-span {
  font-size: 16px;
  line-height: 1.25;
}
.card_container_product_name {
  margin-bottom: 12px;
}
.card_container_price {
  display: flex;
  flex-direction: column-reverse;
}

.card_product_price {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.cart_total_price_text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}


.cart_form_button {
  width: 215px;
  padding: 15px 65px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.2;
  border: none;

}
/* .card_container_product_fullDs {
  display: flex;
} */

.container_full_cart {
  display: flex;
  justify-content: space-between;
  /* gap: 101px; */
}


.full {
  height: 610px;
}

}



/* =================================empty-basket================================ */

.empty-basket{
  padding-bottom: 120px;
}
.basket_list {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 100px;

}

.basket_svg {
  fill: var(--background-color);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 0.3s ease
}

.basket_text,
.basket_span {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  color: var(--black-color);
}


.basket_img {
  margin: auto;
  margin-bottom: 28px;

}

.basket_container_text{
  max-width: 279px;
  margin: auto;
  text-align: center;
}
.basket_title {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 14px;
}

.basket_title_span {
  color: var(--accent-color);
  
}

.basket-text {
  color: rgba(1, 1, 1, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
}

@media screen and (min-width: 768px) {



.basket_list {
    padding-bottom: 130px;
  }
  .basket_text,
  .basket_span {
      font-size: 32px;
      line-height: 1.0;
    }
.basket_img {
    margin-bottom: 40px;
    width: 164px;
    height: 140px;
  }

  .basket_container_text {
    max-width: 387px;
  }
.basket_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.basket-text {
  font-size: 18px;
  line-height: 1.33;
}
}
@media screen and (min-width: 1440px) {

.empty-basket {
    padding-bottom: 150px;
  }
.basket_list {
  padding-bottom: 150px;
}
.basket_container_text{
    
    }

}

