p {
  margin: 0;
}

.footer {
  background-color: var(--accent-color);

}

.footer-container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-left-side {
  min-width: 197px;
}

.footer-logo-container {
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 9px;
  gap: 8px;
  margin-bottom: 20px;
  transition: border-radius 0.3s ease;
}

.footer-logo-container:is(:hover, :focus) {
  border-radius: 9px;
  background-color: var(--background-color);
}


.footer-logo-svg {
  border-radius: 50%;
  padding: 6px;
  justify-content: center;
  align-items: center;
  fill: var(--accent-color);
  background-color: var(--background-color);
  transition: background-color 0.3s ease, fill 0.3s ease;
}

 .footer-logo-container:is(:hover, :focus) .footer-logo-svg {
  fill:var(--background-color);
  background-color: var(--accent-color);
}

.footer-logo-text {
  color: var(--background-color);
    font-family: Quincy CF;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.02em;
    transition: color 0.3s ease;
}

.footer-logo-container:is(:hover, :focus) .footer-logo-text {
  color: var(--black-color);
}

.logo-icon {
  fill: var(--accent-color);
}

.footer-socials {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  border-radius: 10px;
  border: 1px solid var(--border-color);;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  transition: background-color 0.3s ease;
}

.footer-socials-link:is(:hover, :focus) {
  background-color: var(--hover-icon-color);
}

.footer-socials-icon {
  fill: currentColor;
  opacity: 0.8;
}

.footer-right-text{
  margin-bottom: 80px;
}
.footer-main-text {
  color: var(--background-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.footer-second-text {
  color: var(--light-gray-color);
  font-size: 14px;
  line-height: 1.29;
}

.footer-third-text {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 80px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 299px;
  height: 42px;
  padding: 0 18px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid var(--background-color);
  outline: transparent;
  font-size: 14px;
  line-height: 1.28;
  color: var(--light-gray-color);
}

.form-input::placeholder {
  font-size: 14px;
  line-height: 1.28;
  color: var(--light-gray-color);
}

.form-input::placeholder:hover, 
.form-input::placeholder:focus {
  color: var(--background-color);
}

.footer-form-btn {
  width: 335px;
  height: 42px;
  border-radius: 30px;
  background: var(--background-color);
  border: none;
  color: var(--black-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  transition: color 0.3s ease;
}

.footer-form-btn:hover,
.footer-form-btn:focus,
.footer-form-btn:active
{
  color: var(--accent-color);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-fourth-text {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.28;
  opacity: 0.9;
  margin-bottom: 8px;
}

.footer-fifth-text {
  color: var(--background-color);
  font-size: 14px;
  line-height: 1.28px;
}

@media screen and (min-width: 768px) {
 
  .footer-first-container {
    display: flex;
    gap: 78px;
  }

  .footer-left-side {
      min-width: 207px;
    }

  .footer-logo-svg {
    width: 20px;
    height: 20px;
  }

  .footer-logo-text {
       font-size: 24px;
     }

  .footer-socials {
    margin-bottom: 0;
  }
  .footer-socials-item {
    width: 44px;
    height: 44px;
  }

  .footer-socials-icon {
    width: 28px;
    height: 28px;
  }

  .footer-main-text {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  .footer-second-text {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 64px;
  }

  .footer-third-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-form {
    gap: 20px;
    margin-bottom: 120px;
  }

  .form-input {
    height: 48px;
  }

  .footer-label {
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-form-btn {
    width: 336px;
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
  }
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-fourth-text {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {

  .footer-first-container {
    gap: 148px;
    margin-bottom: 128px;
  }

  .footer-right-side {
    display: flex;
    gap: 148px;
  }

  .footer-second-text {
    margin-bottom: 0;
  }

  .footer-form {
    margin-bottom: 0;
  }
}
