@media screen and (min-width: 375px) {

    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 1, 0.40);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin:0 auto;
        padding: 0;
    }

    .modal-product {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 335px;
        transform: translate(-50%, -50%) scale(1);
        background: #FAFAFA;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        border-radius: 20px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        height: 535px;
        display: flex;
    }

    .is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
    

    .modal-all-items {
        display: flex;
        width: 295px;
        flex-direction: column;
        padding: 40px 20px 0 20px;
        flex-grow: 1;
    }

    .modal-close-btn{
        margin: 0;
        padding: 0;
        display: flex;
        position: absolute;
        height: 22px;
        width: 22px;
        top: 14px;
        right: 14px;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #FAFAFA;
        
    }

    .button-icon-close {
       padding: 0;
       margin: 0;
       width: 12px;
       height: 12px;
    }

    .button-icon-close:hover{
        fill: #6D8434;
    }

    .img-section {
        display: flex;
    }

    .modal-img {
        width: 100%;;
        height: 212px;
        background-color:#E8E8E2 ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 10px;
        position:relative;
    }

    .modal-discount-svg {
        position: absolute;
        background-color: transparent;
        border: none;
        top: -20px;
        left: -10px;
        transform-origin: center center;
        animation: rotateAnimation 15s linear infinite;
        display: none;
      }

    .img-content {
        width: 180px;
        height: 180px;
    }

    .modal-title {
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
        display: flex;
        font-size: 18px;
    }

    .modal-list {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        width: 246px;
    }

    .modal-description {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: baseline;
        gap: 4px;
    }
    
    .modal-atr {
        color: rgba(1, 1, 1, 0.30);
        font-size: 12px;
        line-height: 14px;
    }

    .modal-description-value {
        margin: 0;
        padding: 0;
        height: 2px;
        color: #010101;
        line-height: 14px;
        font-size: 12px;
    }

    .bottom-section {
        margin: 0 auto;
        margin-bottom: 40px;
        display: flex;
        padding: 0;
        margin-top: 20px;
    }

    .modal-text {
        display: flex;
        color: rgba(1, 1, 1, 0.70);
        font-size: 14px;
        line-height: 18px;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

    }

    .modal-bottom{
        display: flex;
        justify-content: space-between;
        height: 42px;
        margin-top: auto;
        margin-bottom: 40px;
    }

    .price{
        color: #010101;
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        display: flex;
        padding: 0;
        margin: 0;
        align-items: flex-end;
    }

    .addtocart-btn{
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: #6D8434;    
        color: #E8E8E2;
        border: none;
        cursor: pointer;
        text-align: center;
        color: #E8E8E2;

        font-size: 14px;
        font-weight: 500;
        line-height: 18px; 
    }

    .addtocart-btn:hover {
        background: #586F1F;
    }

    .button-icon {
        fill: #E8E8E2;
    }

  }

  @media screen and (min-width: 768px) {
     .modal-product {
        width: 600px;
        height: 380px;
    }

    .modal-all-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 536px;
        padding: 40px 40px 0 40px;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .img-section,
    .text-section {
        flex-basis: calc(50% - 24px); 
        margin-right: 24px; 
        margin-bottom: 48px;
    }

    .bottom-section {
        margin-top: 24px;
    }

    .modal-list {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        width:auto;
    }

    .modal-img {
        margin: 0;
    }

    .modal-text {
        margin: 0px;
        font-size: 16px;
        line-height: 20px;
    }

    .img-content {
        width: 160px;
        height: 160px;
    }

    .modal-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }

   

    .modal-bottom {
        flex-basis: 100%; 
    }

    .modal-close-btn {
        top: 24px;
        right: 24px;
      
        width: 28px;
        height: 28px;
    }

    .price {
        font-size: 20px;
        line-height: 24px; 
    }

    .button-icon-close{
        width: 16px;
        height: 16px;
    }

    .addtocart-btn {
        padding:10px 28px;


font-size: 16px;


line-height: 20px; 
    }
}