.container-product-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px 0 80px 0;
  row-gap: 14px;
}

.container-discount-product-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 20px 0 80px 0;
  row-gap: 20px;
}

.aside {
}

.container-for-discount-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items:  center;
}

.before-descr-container {

}


.card-product-name-container {
  display: flex;
  padding-left: 10px;
}

.size-popularity-container {
  display: flex;
}

.popular-products-title {
  color: #010101;
font-size: 24px;
line-height: 1.16;
justify-content: center;
display: flex;
}

.product-card {
  width: 335px;
  border-radius: 10px;
  background: var(--white-color);
  padding: 20px;
  position:  relative;
display: flex;
}

.discount-product-card {
  width: 335px;
  border-radius: 15px;
  background: var(--white-color);
  padding: 20px;
}

.product-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 10px;
  background: var(--background-color);
}

.discount-product-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 304px; */
  height: 150px;
  border-radius: 10px;
  background: var(--background-color);
}

.card-img {
  max-width: 56px;
  max-height: 56px;
}

.discount-card-img {
  max-width: 114px;
  max-height: 114px;
}

.product-card-name {
  margin: 0;
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.discount-product-card-name {
  margin: 0;
  padding-top: 23px;
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.product-card-description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 12px;
  color: var(--dark-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  gap: 9px;
  padding-left: 10px
}

.card-description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.card-description p {
  margin: 0;
  padding: 0;
}

.card-description-value {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  display: flex;
  flex-direction: row;
}

.product-card-price-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* padding-top: 20px; */
}

.container-for-popular-items {
  display: flex;
}

.product-card-price {
  margin: 0;
  padding: 0;
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.product-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 30px;
  background: var(--background-color);
  cursor: pointer;
  position: absolute;
    top: 14px;
    right: 15px
}

.discount-product-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 30px;
  background: var(--accent-color);
  cursor: pointer;
}

.button-icon {
  fill: var(--accent-color);
}

.discount-button-icon {
  fill: var(--background-color);
}

/* ---------------------------------- */

@media screen and (min-width: 768px) {
  /* .container {
      max-width: 768px;
      padding: 0 32px;
    } */

  .container-product-cards {
    flex-direction: row;
    padding: 20px 0 64px 0;
    row-gap: 13px;
    column-gap: 13px;
  }

  .container-discount-product-cards {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 20px 0 100px 0;
    row-gap: 32px;
  }

.container-for-discount-items {
  display: flex;
  flex-direction: row;
  gap: 32px;
}


  .product-card {
    width: 275px;
  }

  .discount-product-card {
    max-width: 336px;
  }

  .product-card-name {
    font-size: 20px;
    line-height: 1.2;
  }

  .product-card-price {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* ---------------------------------- */

@media screen and (min-width: 1440px) {
  /* .container {
      max-width: 1440px;
      padding: 0 100px;
    } */

  .container-product-cards {
    /* width: 275px; */
    padding: 20px 0 40px 0;
   row-gap: 13px;
    column-gap: 20px;
    flex-direction:  column;
  }

.container-for-discount-items {
  display: flex;
  flex-direction: column;
}


  .container-discount-product-cards {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0 140px 0;
    row-gap: 20px;
  }

  .discount-product-card-img {
    /* max-width: 243px; */
gap: 20px;
  }

  .popular-products-title {
    font-size: 28px;
    line-height: 1.14;
  }
}
