/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import '../../node_modules/normalize.css/';

@import url('./catalog.css');
@import url('./fonts/stylesheet.css');
@import url('./variables.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./cart-header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./popular.css');
@import url('./products.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  font-family: 'Neue Montreal', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--black-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: auto;
};


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}