:root {
  --black-color: #010101;
  --dark-color: rgba(1, 1, 1, 0.30);  
  --light-gray-color: rgba(232, 232, 226, 0.70);
  --background-color: #E8E8E2;
  --accent-color: #6D8434;
  --white-color: #FAFAFA;
  --luminous-color: #0101014D;
};